$basicAnimation: all 0.5s ease-in-out;
$buttonBorderRadius: 6px;
$color1: #0f3d3e;
$color2: #100f0f;
$color3: #f5f5f5;
$color4: #156364;
$color5: #282828;
$disabledColor1: #556565;
$errorColor1: #e01f1f;
$errorColor2: #e7b4b4;
$fontFamily1: "Trebuchet MS", "sans-serif";
$fontSize1: 1.1rem;
$mainBg: linear-gradient($color2, $color1);
$textShadowOnCardHover: #1e7c7e 1px 0 18px;

$mobileXLWidth: 576px;
$mobileLandscapeDesktopXS: 992px;
