@import "@app/config/styles.scss";

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 10rem;

  @media (min-width: $mobileLandscapeDesktopXS) {
    min-width: 10vw;
  }

  form {
    button {
      min-width: 11rem;
    }
  }
}
