@import "@app/config/styles.scss";

.container {
  display: inline-block;
  flex-direction: column;
  padding: 1rem;

  @media (min-width: $mobileXLWidth) {
    flex-direction: row;
  }

  .buttons {
    display: block;

    @media (min-width: $mobileXLWidth) {
      display: inline-block;
    }
  }

  button {
    background-color: $color4;
    width: 100%;

    @media (min-width: $mobileXLWidth) {
      margin-left: 1rem;
      width: auto;
    }

    &:hover {
      background-color: $color5;
    }
  }

  input {
    padding: 0.4rem 0.3rem;
    width: 100%;

    @media (min-width: $mobileXLWidth) {
      padding: auto;
      margin-left: 1rem;
      width: auto;
    }
  }
}
