@import "@app/config/styles.scss";

.categoriesMenu {
  text-align: center;
  transition: $basicAnimation;

  button {
    min-width: 12vw;

    @media (min-width: $mobileLandscapeDesktopXS) {
      min-width: 10vw;
    }
  }
}
