@import "@app/config/styles.scss";

.categoriesMenu {
  padding: 1em;
  text-align: center;
  transition: $basicAnimation;

  button {
    cursor: pointer;
    min-width: 12vw;

    @media (min-width: $desktopWidth) {
      min-width: 10vw;
    }
  }
}
