@import "@app/config/styles.scss";

.background {
  background-color: rgba(12, 10, 10, 0.294);
  height: 53.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10rem;

  .container {
    align-items: center;
    background: $errorColor1;
    border-radius: $buttonBorderRadius;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    margin: 0;
    min-height: 15rem;
    min-width: 15rem;
    justify-content: center;
    vertical-align: middle;
    left: 0;
    right: 0;
    top: 4rem;

    @media (min-width: $mobileLandscapeDesktopXS) {
      margin: 0 20rem;
      top: 10rem;
    }
  }
}
