@import "@app/config/styles.scss";

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  padding: 2rem;
  text-align: left;
  color: inherit;
  text-align: center;
  text-decoration: none;
  transition: $basicAnimation;
  width: 100%;
}

.question {
  cursor: pointer;
  min-height: 10rem;

  @media (min-width: $desktopWidth) {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .cardContent {
    &:hover {
      text-shadow: $textShadowOnCardHover;
    }
  }

  .cardActions {
    margin: 1rem;

    span {
      margin: 0 0.5rem;

      &:hover {
        text-shadow: $textShadowOnCardHover;
      }
    }

    .starCard {
      opacity: 0.2;
      transition: $basicAnimation;

      &:active {
        opacity: 1;

        .starCardTooltip {
          visibility: visible;
        }
      }

      @media (min-width: $desktopWidth) {
        &:hover {
          opacity: 1;

          .starCardTooltip {
            visibility: visible;
          }
        }
      }
    }

    .starCardTooltip {
      background-color: $color2;
      border-radius: $buttonBorderRadius;
      font-size: 0.8rem;
      padding: 0.4rem;
      position: absolute;
      visibility: hidden;
      transition: $basicAnimation;
    }

    .starCardActive {
      opacity: 1;
    }
  }
}

.answer {
  background: $color1;
  margin-top: 0.1rem;
  min-height: 22rem;

  @media (min-width: $desktopWidth) {
    margin-top: 2rem;
    min-height: 27rem;
  }
}

.navigation {
  padding-bottom: 2rem;

  @media (min-width: $desktopWidth) {
    padding-bottom: 0;
  }

  & .arrow {
    min-width: 22vw;

    @media (min-width: $desktopWidth) {
      min-width: 12vw;
    }
  }

  & .visibility {
    min-width: 32vw;

    @media (min-width: $desktopWidth) {
      min-width: 12vw;
    }
  }
}
