.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  padding: 2rem;
  text-align: left;
  color: inherit;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.question {
  cursor: pointer;
  min-height: 10rem;

  @media (min-width: 1000px) {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .cardContent {
    &:hover {
      text-shadow: #1e7c7e 1px 0 18px;
    }
  }

  .cardActions {
    margin: 1rem;

    span {
      margin: 0 0.5rem;

      &:hover {
        text-shadow: #1e7c7e 1px 0 18px;
      }
    }

    .starCard {
      opacity: 0.2;
      transition: all 0.5s ease-in-out;

      &:hover {
        opacity: 1;

        .starCardTooltip {
          visibility: visible;
        }
      }
    }

    .starCardTooltip {
      background-color: #100f0f;
      border-radius: 6px;
      font-size: 0.8rem;
      padding: 0.4rem;
      position: absolute;
      visibility: hidden;
      transition: all 0.5s ease-in-out;
    }

    .starCardActive {
      opacity: 1;
    }
  }
}

.answer {
  background: #0f3d3e;
  margin-top: 0.1rem;
  min-height: 22rem;

  @media (min-width: 1000px) {
    margin-top: 2rem;
    min-height: 27rem;
  }
}

.navigation {
  padding-bottom: 2rem;

  @media (min-width: 1000px) {
    padding-bottom: 0;
  }

  & .arrow {
    min-width: 22vw;

    @media (min-width: 1000px) {
      min-width: 12vw;
    }
  }

  & .visibility {
    min-width: 32vw;

    @media (min-width: 1000px) {
      min-width: 12vw;
    }
  }
}
