@import "@app/config/styles.scss";

html,
body {
  background: $mainBg;
  color: $color3;
  font-size: $fontSize1;
  padding: 0;
  margin: 0;
  font-family: $fontFamily1;
  line-height: 1.6rem;
  min-height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: $color1;
  border: none;
  border-radius: $buttonBorderRadius;
  color: $color3;
  cursor: pointer;
  margin: 0.1rem;
  padding: 0.4rem;
  transition: $basicAnimation;
  outline: none;

  &:hover,
  &.active {
    background: $color4;
  }
}

code {
  background: $color5;
  border-radius: $buttonBorderRadius;
  box-shadow: 1px 1px 1px $color2;
  padding: 0.2rem;
}

input {
  background: $color3;
  border: none;
  border-radius: $buttonBorderRadius;
  color: $color2;
  cursor: pointer;
  margin: 0.1rem;
  padding: 0.4rem;
  transition: $basicAnimation;
  outline: none;

  &:hover {
    box-shadow: $color3 1px 0 6px;
  }
}
