@import "@app/config/styles.scss";

.container {
  padding: 0;
}

.header {
  align-items: center;
  background: $color1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $mobileLandscapeDesktopXS) {
    flex-direction: row;
  }

  .title {
    display: inline-block;
    margin: 0;
    line-height: 1.15;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
  }
}

.main {
  width: 100%;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filters {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $mobileLandscapeDesktopXS) {
    flex-direction: row;
  }

  a > button {
    margin: 1rem 0.1rem;
    min-width: 16rem;

    @media (min-width: $mobileLandscapeDesktopXS) {
      min-width: 10vw;
    }
  }
}
