.categoriesMenu {
  padding: 1em;
  text-align: center;
  transition: all 0.5s ease-in-out;

  button {
    cursor: pointer;
    min-width: 12vw;

    @media (min-width: 1000px) {
      min-width: 10vw;
    }
  }
}
