.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  padding: 2rem;
  text-align: left;
  color: inherit;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease, border-color 0.15s ease;
  width: 100%;
}

.question {
  cursor: pointer;
  min-height: 10rem;

  @media (min-width: 1000px) {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  &:hover {
    text-shadow: #1e7c7e 1px 0 18px;
  }
}

.answer {
  background: #0f3d3e;
  margin-top: 0.1rem;
  min-height: 22rem;

  @media (min-width: 1000px) {
    margin-top: 2rem;
    min-height: 27rem;
  }
}

.navigation {
  & button {
    min-width: 32vw;

    @media (min-width: 1000px) {
      min-width: 12vw;
    }
  }
}
